<h1>Dogs</h1>

<% @dogs.each do |dog| %>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong>Name: </strong><%= link_to dog.name, dog_path(dog) %></h5>
          <p class="card-text"><strong>Description: </strong><%= dog.description %></p>
          <p class="card-text"><strong>Price: </strong><%= dog.price %></p>
          <%= link_to 'Rent This Dog', new_dog_booking_path(dog, price: dog.price, dog_name: dog.name), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
