<!-- app/views/dogs/show.html.erb -->
<h1><%= @dog.name %></h1>
<p><%= @dog.description %></p>
<p><Address><% dog.address %></Address>
<p>Price: <%= number_to_currency(@dog.price) %></p>
<p>City: <%= @dog.city %></p>
