<h1>Bookings</h1>

<% @bookings.each do |booking| %>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <p class="card-text"> <strong> <%= link_to booking.dog.name, dog_path(booking) %> </strong> </p>
          <p class="card-text"> <strong>Price: </strong>$<%= booking.total_price %> </p>
          <p class="card-text"> <strong>Date Rented: </strong><%= booking.start_date %> </p>
          <p class="card-text"> <strong>Deadline: </strong><%= booking.end_date %> </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
