<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <footer class="text-center text-white" style="background-color: #FE6F61;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Iframe -->
      <section class="">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <div class="ratio ratio-16x9">
              <iframe
              class="shadow-1-strong rounded"
              src="https://www.youtube.com/embed/B83nmCSwRuw"
              title="YouTube video"
              allowfullscreen
            ></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="https://info.lewagon.com/fr-ca/decouvrez-nos-formations?utm_term=montreal&utm_term=wagon%20montreal&utm_campaign=Le+Wagon+CA+FR+-+Octopulse&utm_source=adwords&utm_medium=ppc&hsa_acc=6194767241&hsa_cam=20064194142&hsa_grp=162655560201&hsa_ad=691347093829&hsa_src=g&hsa_tgt=kwd-1186244369166&hsa_kw=wagon%20montreal&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=CjwKCAiAxqC6BhBcEiwAlXp459CZqw7q-f0REXs4dFapXilzjUDk6458Af-9aQh0_yqyuFNqUdJlgxoChKIQAvD_BwE">lewagon.com#Gery@Waren@Ribot</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- End of .container -->
