
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'bulldog-1047518_640.jpg', alt: 'Bulldog', class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'pet-7106365_640.jpg', alt: 'Pet', class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'pets-3715733_640.jpg', alt: 'Pets', class: "d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
