<h1 class="text-center">Welcome to Happy Paws</h1>

<div class="text-center my-4">
  <img src="https://www.fourpaws.com/-/media/Project/OneWeb/FourPaws/Images/articles/family-matters/dog-playtime/dog-playtime-927x388.jpg?h=388&iar=0&w=927&hash=DC486D0863E76ECD77FCD613BCA7A537" alt="Happy Paws Playtime" class="img-fluid">
</div>

<div class="text-center my-4">
  <%= link_to 'View All Dogs', dogs_path, class: 'btn btn-primary' %>
</div>
