form {
  width: 50%;
  margin: 0 auto;
  min-width: 380px;
  max-width: 600px;
  background: white;
  // display: grid;
  // grid-template-rows: repeat(2, 104px);
  padding: 60px 45px 30px;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  position: relative;

  label {
    color: rgb(118, 92, 92);
    font-weight: 900;
  }
}

form::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 150px;
  background: linear-gradient(65deg, #997a81, #fe6f61);
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#title-login {
  text-align: center;
  margin-bottom: 50px;
  color: #fe6f61;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  margin: 7px 0 7px;
  border: 1px solid transparent;
  background: #fe6e6164;
  height: 36px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-size: 1.1rem;
  padding-left: 10px;
  transition: 0.2s;
  color: rgb(118, 92, 92);
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #5ef9a4;
}

input[type="submit"] {
  border: none;
  background: linear-gradient(65deg, #997a81, #fe6f61);
  width: 50%;
  margin: 12px auto 0;
  padding: 10px;
  border-radius: 150px;
  font-size: 1.2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
  color: rgb(118, 92, 92);
}

.button-styling {
  border: none;
  background: linear-gradient(65deg, #997a81, #fe6f61);
  width: 50%;
  margin: 12px auto 0;
  padding: 10px;
  border-radius: 150px;
  font-size: 1.2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
  color: rgb(118, 92, 92);
  text-decoration: none;

  &:hover {
    filter: brightness(105%);
    transform: translateX(2px);
    color: white;
  }
}

input[type="submit"]:hover {
  filter: brightness(105%);
  transform: translateX(2px);
  color: white;
}

#input-contenair {
  // width: 100%;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#share-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;

  a {
    border: none;
    background: linear-gradient(65deg, #997a81, #fe6f61);
    width: 40%;
    margin: 12px auto 0;
    padding: 10px;
    border-radius: 150px;
    font-size: 1.2rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
    color: rgb(118, 92, 92);
    text-decoration: none;

    &:hover {
      filter: brightness(105%);
      transform: translateX(2px);
      color: white;
    }
  }
}

#money-type {
  border: none;
  background-color: white;
  color: rgb(118, 92, 92);
}
