.navbar-lewagon {
  justify-content: space-between;
  background: #FE6F61;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
  &:hover {
    color: yellow;
  }
}
